include requirements.txt
include requirements/basic.txt
include requirements/web.txt
include requirements/plugins.txt
include requirements/core.txt
include requirements/jax.txt
include requirements/gdspy.txt
include requirements/gdstk.txt
include requirements/dev.txt
include tidy3d/web/cacert.pem
